.cta {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.container {
  position: relative;
  z-index: 1;
}

.floridaOutline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  opacity: 0.03;
  pointer-events: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="%2300D4FF" d="M50 10 L60 20 L70 15 L80 25 L85 35 L90 45 L85 55 L80 65 L70 75 L60 85 L50 90 L40 85 L30 75 L20 65 L15 55 L10 45 L15 35 L20 25 L30 15 L40 20 Z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.headline {
  color: var(--white);
  margin-bottom: 24px;
}

.subheadline {
  font-size: 24px;
  color: var(--white);
  opacity: 0.7;
  font-style: italic;
  margin-bottom: 48px;
}

.contact {
  font-size: 16px;
  color: var(--white);
  opacity: 0.8;
  margin-top: 32px;
}

.contact a {
  color: var(--white);
  text-decoration: underline;
  transition: opacity 0.2s ease;
}

.contact a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .floridaOutline {
    width: 400px;
    height: 400px;
  }
}
